@import "tailwindcss";

@plugin "@tailwindcss/typography";

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    background-color: var(--color-gray-800);
  }
  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}


@theme {
  --drop-shadow-gr: drop-shadow(0 10px 8px rgb(0 0 233 / 0.8)) drop-shadow(0 4px 3px rgb(0 233 0 / 0.8));
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}